# <h1>Edit Your Information</h1>

# <form action="/<%=current_user.id%>" method="POST">
#     <label for="email">Email: </label>
#     <input type="text" name="email" id="email">

#     <label for="password">Password: </label>
#     <input type="text" name="password" id="password">

#     <input type="submit" value="Submit">
# </form>

#do we want users to be able to edit info? 
