<h3>Welcome to Again, Your Habit Tracker!</h3>
<h2><%=current_user.username%>, what would you like to do today?</h2>

    <a href="/habits">View Your Habits</a><br>
    <a href="/habits/new">Create a Habit</a><br><br>

    # <div class="row">
    #     <form action="/users/<%=current_user.id%>/delete" method="post">
    #         <input type="hidden" id="hidden" name="_method" value="DELETE">
    #         <button type="submit" class="btn btn-danger">Delete Your Account</button>
    #     </form>
    # </div>
