<h3>Welcome to <b>Again</b>, Your Habit Tracker!</h3>
<p>What would you like to do today?</p>

    <a href="/habits">View Your Habits</a><br>
    <a href="/create_habit">Create a Habit</a>
    #Edit a Habit
