<h3>Welcome to Again, Your Habit Tracker!</h3>
<h2><%=current_user.username%>, what would you like to do today?</h2>

    <a href="/habits">View Your Habits</a><br>
    <a href="/habits/new">Create a Habit</a><br><br><br><br>

    <a href="/logout">Logout</a>
