<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Again</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css">
        </head>

        <body>
            <div>
                <%= yield %>

                <footer>
                    <small>&copy; 2020 <strong>Again Habit Tracker</strong> <a href="/logout">Logout</a></small>
                </footer>

            </div>

        </body>
</html>
