<div>
    <div>
    <h1>Again: Habit Tracker</h1>

    <div>
    <h3>Welcome to Again, the Habit Tracker</h3>

    <p><b><a href="/signup">Sign Up</a></b></p>
    <p><b><a href="/login">Log In</a></b></p>

    </div>
    </div>
</div>
    