<h1>Edit Habit</h1>

<form action="/habits/<%= @habit.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">    

    <label for="name">Habit Name: </label>
    <input type="text" name="name" value="<%= @habit.name %>"><br><br>

    <label for="date">Date Started: </label>
    <input type="text" name="date" value="<%= @habit.date %>"><br><br>

    <label for="description">Habit Description: </label>
    <input type="text" name="description" value="<%= @habit.description %>"><br><br>

    <input type="submit" value="Update Habit">
</form>

#back #logoutbutton
