<h2>Your Habits</h2>

    <% @habits.each do |habit| %>
        <li><a href="/habits/<%= habit.id %>"><%= habit.name %></a> - Started on: <%= habit.date %><br><br>
        <label for="monday">M:</label><input type="checkbox" id="monday" name="monday" value="monday"/> 
        <label for="tuesday">Tu:</label><input type="checkbox" id="tuesday" name="tuesday" value="tuesday"/> 
        <label for="wednesday">W:</label><input type="checkbox" id="wednesday" name="wednesday" value="wednesday"/> 
        <label for="thursday">Th:</label><input type="checkbox" id="thursday" name="thursday" value="thursday"/> 
        <label for="friday">F:</label><input type="checkbox" id="friday" name="friday" value="friday"/> 
        <label for="saturday">Sa:</label><input type="checkbox" id="saturday" name="saturday" value="saturday"/> 
        <label for="sunday">Su:</label><input type="checkbox" id="sunday" name="sunday" value="sunday"/></li><br><br>
        <% end %>

<a href="/habits/new">Create a new habit.</a><br><br>
